<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Magpie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<Magpie.Properties.Settings>
   <setting name="Hotkey" serializeAs="String">
    <value>Alt+F11</value>
   </setting>
   <setting name="ScaleMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowFPS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CaptureMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MinimizeAtWindowsStartUp" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoRestore" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AdjustCursorSpeed" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CultureName" serializeAs="String">
    <value />
   </setting>
   <setting name="LoggingLevel" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="MinimizeWhenClose" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FrameRateLimit" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="FrameRateType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DisableRoundCorner" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RunAsAdmin" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NoCursor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DisableLowLatency" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CursorZoomFactor" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DebugShowAllCaptureMethods" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DebugBreakpointMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DisableWindowResizing" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CursorInterpolationMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DisableDirectFlip" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConfineCursorIn3DGames" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AdapterIdx" serializeAs="String">
    <value>0</value>
   </setting>
  </Magpie.Properties.Settings>
	</userSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="logfile"
     xsi:type="File"
     fileName="logs/Magpie.log"
     archiveAboveSize="100000"
     maxArchiveFiles="1"
     archiveFileName="logs/Magpie.1.log"
     encoding="utf-8"
     keepFileOpen="true"
     layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=|${exception}}"
   />
		</targets>
		<rules>
			<logger name="*" minlevel="Info" writeTo="logfile" />
		</rules>
	</nlog>
</configuration>