<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Magpie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
 <userSettings>
  <Magpie.Properties.Settings>
   <setting name="Hotkey" serializeAs="String">
    <value>Alt+F11</value>
   </setting>
   <setting name="ScaleMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NoVSync" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowFPS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="InjectMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CaptureMode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LowLatencyMode" serializeAs="String">
    <value>False</value>
   </setting>
  </Magpie.Properties.Settings>
 </userSettings>
</configuration>
