<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Magpie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Magpie.Properties.Settings>
            <setting name="Hotkey" serializeAs="String">
                <value>Alt+F11</value>
            </setting>
            <setting name="ScaleMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InjectMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinimizeAtWindowsStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRestore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BufferPrecision" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AdjustCursorSpeed" serializeAs="String">
                <value>True</value>
            </setting>
        </Magpie.Properties.Settings>
    </userSettings>
</configuration>