<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			throwConfigExceptions="true">

	<targets>
		<target name="logfile" xsi:type="File" fileName="logs/Magpie.log" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=|${exception}}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
