#pragma code_page(65001)

#include "winres.h"
#include "resource.h"
#include "StrMacros.h"

// en-US
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APP                 ICON                    "Magpie.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MP_MAJOR_VERSION, MP_MINOR_VERSION, MP_PATCH_VERSION, 0
 PRODUCTVERSION MP_MAJOR_VERSION, MP_MINOR_VERSION, MP_PATCH_VERSION, 0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
#ifdef MP_VERSION_STRING
            VALUE "FileVersion", STRINGIFY(MP_VERSION_STRING)
            VALUE "ProductVersion", STRINGIFY(MP_VERSION_STRING)
#elif defined(MP_COMMIT_ID)
            VALUE "FileVersion", "dev (" STRINGIFY(MP_COMMIT_ID) ")"
            VALUE "ProductVersion", "dev (" STRINGIFY(MP_COMMIT_ID) ")"
#else
            VALUE "FileVersion", "dev"
            VALUE "ProductVersion", "dev"
#endif
            VALUE "InternalName", "Magpie.exe"
            VALUE "LegalCopyright", "Copyright © 2021-2025 Xu"
            VALUE "OriginalFilename", "Magpie.exe"
            VALUE "ProductName", "Magpie"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
